{{- $preloadConfig := site.Params.performance.fontPreloads | default dict -}}
{{- $group := cond .IsHome "home" "default" -}}
{{- $preloadKeys := index $preloadConfig $group | default (slice) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $fontFiles := dict
  "Poppins:400" (printf "fonts/subsets/poppins-400.%s.woff2" $lang)
  "Poppins:500" (printf "fonts/subsets/poppins-500.%s.woff2" $lang)
  "Poppins:600" (printf "fonts/subsets/poppins-600.%s.woff2" $lang)
  "Poppins:700" (printf "fonts/subsets/poppins-700.%s.woff2" $lang)
  "Noto Sans JP:400" (printf "fonts/subsets/noto-sans-jp-400.%s.woff2" $lang)
  "Noto Sans JP:500" (printf "fonts/subsets/noto-sans-jp-500.%s.woff2" $lang)
  "Noto Sans JP:600" (printf "fonts/subsets/noto-sans-jp-600.%s.woff2" $lang)
  "Noto Sans JP:700" (printf "fonts/subsets/noto-sans-jp-700.%s.woff2" $lang)
  "LINE Seed JP:500" (printf "fonts/subsets/line-seed-jp-500.%s.woff2" $lang)
  "LINE Seed JP:600" (printf "fonts/subsets/line-seed-jp-600.%s.woff2" $lang)
  "LINE Seed JP:700" (printf "fonts/subsets/line-seed-jp-700.%s.woff2" $lang)
-}}

{{- range $key := $preloadKeys -}}
  {{- $path := index $fontFiles $key -}}
  {{- if $path -}}
<link rel="preload" href="{{ partial "functions/fingerprinted-font-url.html" $path }}" as="font" type="font/woff2" crossorigin>
  {{- else -}}
    {{- warnf "Unknown performance.fontPreloads.%s entry: %q" $group $key -}}
  {{- end -}}
{{- end -}}
