{{- $imageAriaLabel := i18n "common.image" | default "Image" -}}
{{- $closeAriaLabel := i18n "common.close" | default "Close" -}}
<div class="modal fade" id="imageZoomModal" tabindex="-1" aria-label="{{ $imageAriaLabel }}"
  aria-hidden="true">
  <div class="modal-dialog modal-fullscreen m-0">
    <div class="modal-content h-100 bg-transparent border-0">
      <div class="modal-header fixed-top border-0 p-0" data-bs-theme="dark">
        <div class="container-xxl d-flex align-items-center justify-content-end">
          <button type="button"
            class="btn-close btn-close-white m-0 p-2 d-inline-flex align-items-center bg-light bg-opacity-100"
            data-bs-dismiss="modal" aria-label="{{ $closeAriaLabel }}">
          </button>
        </div>
      </div>
      <div class="modal-body d-flex align-items-center justify-content-center h-100 p-0">
        <img id="imageZoomModalImage" class="d-block w-auto h-auto mw-100 mh-100" alt="" loading="eager"
          decoding="async">
      </div>
    </div>
  </div>
</div>
